.bp-catalog h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.bp-catalog table {
  width: 100%;
  border-collapse: collapse;
}

.bp-catalog th, .bp-catalog td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.bp-catalog th {
  background-color: #f4f4f4;
}

.bp-catalog td input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bp-catalog button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bp-catalog .submit-button {
  position: absolute;
  top: 95px;
  right: 15px;
  width: 90px;
  height: 45px;
  border-radius: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bp-catalog .add-row-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bp-catalog .add-row-button:hover {
  background-color: #45a049;
}

.bp-catalog .btn {
  display: flex;
  align-items: center;
  background: none;
  height: 48px;
  padding: 0 15px;
  letter-spacing: 0.25px;
  border-radius: 24px;
  cursor: pointer;
}

.bp-catalog .btn:focus {
  outline: none;
}

.bp-catalog .btn-delete {
  font-size: 16px;
  color: red;
}

.bp-catalog .btn-delete:hover {
  background-color: rgba(255, 0, 0, 0.13);
}
