.main-homepage{
    /* height: 90vh; */
    width: 98.9vw;
}

.hero-img{
    height: 80%;
    width: 80%;
}
.section1 {
    border-bottom: 5px solid transparent;  /* Transparent border as a base */
    border-image: url('../../assets/border.png') 30 stretch;  /* Apply tribal image as the border */
    border-image-slice: 120;  /* Adjust this value to fit the image properly */
  }
  .highlight {
    position: relative;
    display: inline-block;
    color: #3b82f6; /* Default text color */
  }
  
  
/* Hide scrollbar for Chrome, Safari and Opera */